/* iniciadp dia 03/10 às 11:05*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #673dac;
    color: #5a008f;
    line-height: 1.6;
}

/* container grande */
.container {
    max-width: 800px;
    margin: 50px auto;
    background: #c398ec;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

/* título do cadastro */
h1, h2 {
    text-align: center;
    color: #4b007e;
    margin-bottom: 20px;
}

/* form de cadastro */
.form-cadastro, .form-pesquisa {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

label {
    font-weight: bolder;
    color: #000000;
}

input[type="text"], input[type="number"], input[type="email"] {
    padding: 10px;
    border: 2px solid #4b007e;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: border 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
    border-color: #4b007e;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #4b007e;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color:#e24ed6;
    transform: translateY(-2px);
}

/* Formulário de Pesquisa */
.form-pesquisa input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    border-color: #ffffff;
    border: 2px solid ;
}

.form-pesquisa button {
    margin-top: 10px;
}

/* Tabela de alunos */
.table-alunos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-alunos th {
    padding: 12px 15px;
    text-align: left;
    border-color: #4b007e;
    border-bottom: 1px solid ;
}
.table-alunos td {
    background-color:#fff;
    color:#4b007e;
    padding: 12px 15px;
    text-align: left;
    border-color: #4b007e;
    border-bottom: 1px solid;
 
}
.table-alunos th {
    background-color:#4b007e;
    color: #fff;
}

.table-alunos tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.table-alunos tbody tr:hover {
    background-color: #f1faee;
}

.table-alunos a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.table-alunos a:hover {
    color: #d90429;
}

/* responsividade do bglh  */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .form-cadastro, .form-pesquisa {
        gap: 10px;
    }

    .table-alunos th, .table-alunos td {
        padding: 10px;
    }
}
